body {
    padding-top: 70px;
}

.taskInput {
    margin-top: 10px;
    padding-left: 5px;
}

.taskButton {
    margin-left: 5px;
    margin-top: 12px;
}

td a {
    display:block;
    width:100%;
}

a {
    text-decoration: none;
}

.doneButton {
    background-color: greenyellow;
    text-align: center;
}

.archiveButton {
    background-color: orange;
    text-align: center;
}

.name {
    position: fixed;
    right: 30px;
    top: 15px;
}

.centered {
    text-align: center;
}

.left-margin {
    margin-left: 30px;
}

.product {
    font-size: x-large;
    font-weight: bold;
}

.price, .owner {
    font-size: x-large;
}